extends layout

block inline-scripts
  script.
    window.user = !{user};
    window.fbAppId = !{global.fbAppId};
    window.stripePublicKey = !{"'" + global.stripePublicKey + "'"};
    window.isMobile = !{is_mobile};
    window.loc = !{JSON.stringify(loc)};
    window.redirectPath = !{"'" + redirectPath + "'"};